.multiDropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 0 15px;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 12px;
  color: #787878;
  font-weight: 500;
}
